*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
}
.row{
    margin: 0;
}
/* navbar-------------------- */
#header{
    height: 92px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    box-shadow: 0 5px 20px rgba(0,41,112,.1);
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: #fff;

}
#logo img{ padding-bottom: 20px;}
header ul{
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #000;
    font-weight: 600;
}
#sign-in{
    margin-top: 6px;
    /* border: 2px solid green; */
    background-color: #00baf2;
    width: fit-content;
    margin-left: 30px;
    height: fit-content;
    border-radius: 20px;
    padding: 4px 3px 4px 18px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
#sign-in img{
    padding-left: 9px;
}
/* <!----------------------------------- section -1------------------------------ --> */

#section_1{
    height: 48px;
    font-size: 17px;
    margin-bottom: 3px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 500;
}
#section_1 a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding-left: 3px;
    font-size: 17px;

}
#section_1 #one{
    padding-right: 5px;
    font-weight: 600;
}
#section_1 #three{
    font-size: 15px;
}
#section_1 #two{
    font-size: 23px;
}
/* ---------section -2 ----------------- */
#section_2{
   padding: 128px 0 120px;
   width: 100%;
   margin: 0;
}
/* left-side  */
#section_2 h1{
    font-size: 57px;
    font-weight: 700;
    line-height: 65px;
}
#section_2 #section_2_left img{
box-shadow:  5px 20px rgba(0,41,112,.1);
width: 84px;
border-radius: 16px;
margin-bottom: 60px;
}
#section_2 #section_2_left{
    padding:0 40px;
}
#section_2 #section_2_left #para{
    padding-top: 10px;
    width: 475px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #000;
    margin-bottom: 40px;
}
#section_2 #section_2_left #download{
    font-size: 15px;
    padding: 0 24px;
    height: 44px;
    color: #f6f6f6;
    background-color: #000;
    border-radius: 50px;
    width: fit-content;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#section_2 #section_2_left #download i{

margin-left: 8px;
}
#section_2 #section_2_left #download:hover{
    color: black;
    background-color: #fff;
}
/* right-side  */
#section_2 #section_2_right img{
    width: 528px;
    position: absolute;
    right: 3px;
    padding-right: 0;
}
/* <,,!-------------- section-3 -------------  */
#section_3 #items{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#section_3 img{
    width: 64px;
    height: 64px;
    margin-bottom: 17px;
    background-color: #fff;
    border-radius: 50%;
}
#section_3{
    background-color:#00baf2;
    padding: 40px 15px 50px 15px;
    color: #f6f6f6;
}
#section_3 h1{
    line-height: 70px;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    text-align: center;
}
#section_3 .item{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    line-height: 25px;
    width: 140px;
}
#section_3 i{
    font-size: 13px;
    padding-left: 5px;
}

/* -----------section -4 --------------- */
#section_4 #items{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#section_4 img{
    width: 64px;
    height: 64px;
    margin-bottom: 17px;
    background-color: #fff;
    border-radius: 50%;
}
#section_4{
    background-color:#0f4a8a;
    padding: 40px 15px 50px 15px;
    color: #f6f6f6;
}
#section_4 h1{
    line-height: 70px;
    font-size: 38px;
    font-weight: 700;
    display: flex;
    text-align: center;
}
#section_4 .item{
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    line-height: 25px;
    width: 140px;
}
#section_4 i{
    font-size: 13px;
    padding-left: 5px;
}

/* section-5  */
#section_5{
    padding: 80px 50px 80px 115px;
}
/* left-side  */
.wallet{
    display: flex;
    width: 175px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
#section_5_left{
    padding-bottom: 40px;
}
.wallet img{
    height: 77px;
    width: auto;
    padding-right: 12px;
}
/* right-side  */
#section_5_right img{
    width: 539px;
}
.heading h1{
    width: 390px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 48px;
    color: #000;
    font-size: 37px;
    margin-bottom: 18px;
}
.heading span{
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    padding: 24px 0 30px;
    margin-bottom: 30px;
}
#section_5 #section_5_left #download{
    font-size: 15px;
    padding: 0 24px;
    height: 44px;
    color: #f6f6f6;
    background-color: #000;
    border-radius: 50px;
    width: fit-content;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#section_5 #section_5_left #download i{

margin-left: 8px;
}
#section_5 #section_5_left #download:hover{
    color: black;
    background-color: #fff;
}

/* ------section 6 ------------------ */
.wallet{
    display: flex;
    width: 175px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
#section_5_left{
    padding-bottom: 40px;
}
.wallet img{
    height: 77px;
    width: auto;
    padding-right: 12px;
}
/* right-side  */
#section_5_right img{
    width: 539px;
}
.heading h1{
    width: 390px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 48px;
    color: #000;
    font-size: 37px;
    margin-bottom: 18px;
}
.heading span{
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    padding: 24px 0 30px;
    margin-bottom: 30px;
}
#section_5 #section_5_left #download{
    font-size: 15px;
    padding: 0 24px;
    height: 44px;
    color: #f6f6f6;
    background-color: #000;
    border-radius: 50px;
    width: fit-content;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#section_5 #section_5_left #download i{

margin-left: 8px;
}
#section_5 #section_5_left #download:hover{
    color: black;
    background-color: #fff;
}

/* <!----------- section -7-------------- --> */
/* left side  */
#section_7{
    background-color:#f5f7fa;
    max-width: 1305px;
    height: 730px;
}
#section_7_left_side{
    margin: -38px 60px;
    width: 561px;
    height: 630px;
    padding: 70px 64px 0;
    border-radius: 16px;
    cursor: pointer;
}
#section_7_left_side #logo_7_l{
    height: 77px;
    width: auto;
}
#section_7_left_side h1{
    padding-top: 28px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #000;
}
#section_7_left_side p{
    font-size: 20px;
    font-size: 500;
    line-height: 30px;
}
#section_7_left_side .caution{
    color: #75767f;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px;
}
#section_7_left_side .caution_link{
    text-decoration: none;
    cursor: pointer;
    color: #00baf2;
}
#section_7_left_side .main-img{
    height: 296px;
    width: 463px;

}

/* .section_7_right_side  */
#section_7_right_side{
    width: 561px;
    height: 630px;
    padding: 70px 64px 0;
    border-radius: 16px;
    cursor: pointer;
}
#section_7_right_side #logo_7_r{
    height: 20px;
    /* padding: 10px; */
    width: auto;
}
#section_7_right_side h1{
    padding-top: 28px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #000;
}
#section_7_right_side p{
    font-size: 20px;
    font-size: 500;
    line-height: 30px;
}
#section_7_right_side .caution{
    color: #75767f;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px;
}
#section_7_right_side .caution_link{
    text-decoration: none;
    cursor: pointer;
    color: #00baf2;
}
#section_7_right_side .main-img{
    height: 296px;
    width: 463px;
}
/* section- 8  */
#section_8 .row #h1{
    padding-top: 128px;
    width: 1170px;
    margin: 0 auto 35px;
    font-size:50px;
    font-weight: 700;
    line-height:50px ;
    color: #000;
    padding-bottom: 10px;
}
#section_8{
    padding-bottom: 48px;
    /* background-color: #00baf2; */
}
/* #section_8_left */
#section_8_left{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 24px;
}
#section_8_left #s_8_img{
    width: 212px;
    padding-bottom: 12px;
    padding-top: 20px;
}
#section_8_left h3{
    color: #000;
    margin-top: 48px;
    font-weight:700 ;
    font-size:40px;
    line-height: 50px;
}
#section_8_left span{
    font-size:20px ;
    font-weight:500;
    line-height: 26px;
    color:black ;
    width: 515px;
    padding-top:12px ;
}
#section_8_left .btn{
    background-color: #002964;
    color: #f5f7fa;
    width: fit-content;
    border-radius:25px;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;

}
#section_8_left .btn i{
    padding-left: 10px;
}

/* #section_8_right */
#section_8_right img{
    width: 452px;
}
#section_8_right{
    padding-top: 12px;
    padding-left:140px;
}

/* ----------section_9  ------------- */
#section_9{
    width: 100%;
    /* margin: auto; */
    padding: 80px 0;
    /* background-color: #ccc; */
    background-color: #f5f7fa;
}

/* left */
#section_9 #section_9_left_side{
display: flex;
justify-content: center;
align-items: center;
flex-wrap:nowrap;
padding: 0%;
}
#section_9 #section_9_left_side img{width: 472px;
z-index: 1;}


/* right */
#section_9 #section_9_right_side{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding-left: 50px;

}
#section_9 #section_9_right_side img{
    height: 54px;
    margin-bottom: 30px;
}
#section_9 #section_9_right_side h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    /* margin-bottom: 40px; */
    max-width: 350px;
    color: #000;


}
#section_9_right_side .btn i{
    padding-left: 10px;
}

#section_9 #section_9_right_side .btn{
    background-color: #002964;
    color: #f5f7fa;
    width: fit-content;
    border-radius:25px;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}
#section_9 #section_9_right_side p{
    padding:24px 0 30px;
    line-height:26px;
    font-size:22px;
    font-weight:500;
    /* max-width: 570px; */
    color: #000;

}
 /*------------- section 10 --------------- */
 #section_10{
    /* max-width: 1304px; */
    padding: 80px 0;
    /* background-color: #ccc; */
    /* background-color: #f5f7fa; */
    margin: 0%;
}

/* right */
#section_10 #section_10_right_side{
display: flex;
justify-content: center;
align-items: center;
flex-wrap:nowrap;
padding: 0%;
}
#section_10 #section_10_right_side img{width: 433px;
z-index: 1;}


/* left */
#section_10 #section_10_left_side{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding-left: 100px;

}
#section_10 #section_10_left_side img{
    height: 54px;
    margin-bottom: 30px;
}
#section_10 #section_10_left_side h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 40px;
    /* margin-bottom: 40px; */
    max-width: 450px;
    padding-top: 20px;
    color: #000;


}
#section_10 #section_10_left_side .btn{
    background-color: #002964;
    color: #f5f7fa;
    width: fit-content;
    border-radius:25px;
    font-size: 18px;
    padding: 11px 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: -5px;
}
#section_10 #section_10_left_side p{
    padding:24px 0 30px;
    line-height:26px;
    font-size:22px;
    font-weight:500;
    /* max-width: 570px; */
    color: #000;

}
#section_10_left_side .btn i{
    padding-left: 10px;
}








